@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap");
header {
  padding: 27px 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(74, 63, 146);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
}
.logo:hover {
  color: #6D3BF7;
}
.logo .color-accent {
  color: #6D3BF7;
}

.logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 6px 0 0;
  width: 13px;
}

.menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 119px;
  font-size: 14px;
}
.menu li {
  margin: 0 20px 0 0;
}
.menu li:last-child {
  margin: 0;
}
.menu li a {
  color: #fff;
  position: relative;
}
.menu li a:hover {
  color: #8E9FC5;
}

.link-entrance {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-entrance__icon {
  width: 22px;
  min-width: 22px;
  height: 20px;
  margin: 0 4px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: none;
  stroke: #fff;
}
.link-entrance:hover {
  color: #8E9FC5;
}
.link-entrance:hover .link-entrance__icon {
  stroke: #8E9FC5;
}

.mobile-menu {
  position: fixed;
  background: linear-gradient(105.85deg, rgba(38, 42, 69, 0.29) 3.25%, rgba(31, 38, 54, 0) 102.93%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  z-index: 5;
  width: 100%;
  max-width: 360px;
  height: 100%;
  overflow-y: auto;
  padding: 27px 20px;
  display: none;
}
.mobile-menu__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 100px;
}
.mobile-menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  stroke: #fff;
}
.mobile-menu .menu {
  margin: 80px 0;
  font-size: 35px;
  font-weight: 500;
}
.mobile-menu .menu li {
  width: 100%;
  margin: 0 0 16px;
}
.mobile-menu .menu li:last-child {
  margin: 0;
}
.mobile-menu .btn {
  font-size: 14px;
  padding: 0 21px;
  height: 46px;
}
.mobile-menu .link-entrance {
  margin: 0 20px 0 0;
}
.mobile-menu .list-social li {
  margin: 0 16px 0 0;
}
.mobile-menu .list-social li a {
  width: 40px;
  height: 40px;
  padding: 12px 10px;
}
.mobile-menu .list-social li .tg-link {
  padding: 12px 11px 10px 9px;
}

.btn-burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  stroke: #fff;
  margin: 0 0 0 55px;
}
.btn-burger:hover {
  stroke: #8E9FC5;
}